*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.desconto{
    
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 38px;
    font-family: roboto;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    line-height: 17.58px;
    background-color:#1CD1B0;
}

header{
    display: flex;
    align-items: center;
    background: #00669F;
    padding-left: 25px;
    height: 90px;
    font-size: 40px;
}

section{
    display: flex;
    margin:auto;
    width: 748px;
    gap: 100px;


}

.card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 374px;
    
    
    
}

.batman{
    background-image: url('../img/imgFundo.png');
    background-repeat: no-repeat;
    
}

.coracao{
    position: relative;
    top: 15px;
    left: 20px;
}

.imagemDoCentro img {
    border-radius: 50%;
    
}


.conteudoDoCarde{
    margin-top: 110px;
    
    
}

.imagemDoCentro{
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction:column ;
   
   
}

.imagemDoCentro p{
    margin-top: 25px;
    font-size: 30px;
}




.descricao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao p {
    width: 300px;
    text-align: center;
    margin-top: 30px;
}

.botao{
    width: 140px;
    height: 50px;
    background-color: #00669F;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

footer{
    background-color: #00669F;

}

main{
    margin: auto;
    margin-bottom: 150px;
}
